.box {
    border: 1px solid rgba(112, 75, 234, 1);
    margin: 0 auto;
    margin-bottom: 60px;
    .nft {
        margin-right: 20px;
    }
    .desc {
        font-weight: 800;
        font-size: 40px;
        margin: 36px 0 42px;
        line-height: 60px;
    }
    .name {
        color: #FFA8FE;
        font-size: 16px;
        line-height: 20px;
        width: 140px
    }
    .info {
        flex: 1;
        .title {
            font-size: 28px;
            font-weight: bold;
        }
        .container {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
    }
}

        .time {
            display: flex;
            align-items: baseline;
            .unit {
                font-size: 48px;
                text-align: center;
                line-height: 72px;
                color: #00DAB3;
                font-weight: 900;
            }
            .symbol {
                font-size: 20px;
                margin: 0 10px;
            }
        }