// Background
$white: #ffffff;
$black: #000000;
$brown: #bc6c27;
$gray: #727272;
$grey: #a5a291;
$lightYellow: #fefadf;
$darkGrey: #8c8c8c;

$colorsList: (
  'white': $white,
  'black': $black,
  'brown': $brown,
  'gray': $gray,
  'grey': $grey,
  'lightYellow': $lightYellow,
  'darkGrey': $darkGrey
);
